<title>Sign In Task Reminder</title>
<router-outlet></router-outlet>
<div class="row centered">
  <div class="col-4 col-sm-4 col-md-4"></div>
  <div class="col-4 col-sm-4 form col-md-4 col-lg-4" #form>
    <h3>Sign in</h3>

    <div class="form-group">
      <label for="title">Username </label>
      <input class="form-control" id="title" type="text" name="title" value="" #title>
    </div>

    <div class="form-group">
      <label for="desc">Password </label>
      <input class="form-control" id="desc" type="password" name="desc" value="" #desc>
    </div>
    <div align="right">
      <button class="btn btn-primary ">Login</button>
    </div>
  </div>
  <div class="col-sm-4 col-md-4"></div>
</div>


